---
verison: "3"
services:
   web:
      build: ./www
      ports:
         - 80:80
      volumes:
         - .:/code
      command: npm run dev
   db:
      image: mariadb
      environment:
         - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      volumes:
         - postgres:/var/lib/postgresql/data
         - ./db/backups:/docker-entrypoint-initdb.d
   adminer:
      image: adminer
      ports:
         - 8080:8080
   cron:
      build: ./cron
      volume:
         - ./cron/crontab:/etc/cron.d/crontab
